version: "3.9"

networks:
  frontend:
  backend:

volumes:
  db-data:

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_NAME: examdb
    depends_on:
      - db
    ports:
      - "3000:3000"
    networks:
      - backend

  web:
    image: nginx:alpine
    volumes:
      - ./web:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    depends_on:
      - api
    networks:
      - frontend
      - backend

  db:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: examen123
      MONGO_INITDB_DATABASE: examdb
    volumes:
      - db-data:/data/db
    restart: unless-stopped
    networks:
      - backend

  mongo-express:
    image: mongo-express:1.0.2-20
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: examen123
      ME_CONFIG_MONGODB_SERVER: db
    depends_on:
      - db
    ports:
      - "8081:8081"
    networks:
      - backend
